include python/prod/configs/sushi/UniswapV2Pair.json
include python/prod/configs/sushi/UniswapV2Router02.json
include python/prod/configs/sushi/UniswapV2Factory.json
include python/prod/configs/uniswap_v3/UniswapV3Pool.json
include python/prod/configs/uniswap_v3/UniswapV3Factory.json
include python/prod/configs/ERC20MockDecimals.json